<%- include('partials/header') -%>

<div class="container mt-5 w-50">

    <h2 class="mb-4">Search Employee</h2>

    <form action="/employee" method="GET">
        <input type="text" name="name" class="form-control" placeholder="Employee Name">

        <button type="submit" class="btn btn-danger btn-block mt-3">Search in Database</button>

    </form>

    <% if(employee.length > 0 && employee != "first hit") { %>
    <h4 class="text-danger my-4">Search Results: </h4>
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
            </tr>
        </thead>

        <tbody>
            <% for( var i = 0 ; i< employee.length; i++) { %>
                <tr>
                    <td><%= employee[i].name %></td>
                    <td><%= employee[i].designation %></td>
                    <td>$<%= employee[i].salary %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
 <% } else if(employee.length == 0 && employee != "first hit"){ %>

    <div class="alert alert-danger mt-4">Employee does not exist with this name.</div>

    <% } %>

</div>

<%- include('partials/footer') -%>